Notion-To-Do.json
{
  "nodes": [
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -592,
        0
      ],
      "id": "816f290c-3763-434c-8192-ffba7d65997c",
      "name": "⏱️ Wait for Task Completion Check",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "webhookId": "727450d8-695b-4f19-b44a-957dcaebb53a",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "taskListId": "AQMkADAwATNiZmYAZC1kMDdlLWJlNTUALTAwAi0wMAoALgAAA0NBTV_kcORJmRRxtbvDOJcBAMBDwfn7zzlMnT3h4rQWfqcAB1SpwJ0AAAA=",
        "taskId": "={{ $('📋 Create Microsoft ToDo Task').item.json.id }}"
      },
      "type": "n8n-nodes-base.microsoftToDo",
      "typeVersion": 1,
      "position": [
        -144,
        -80
      ],
      "id": "d5e4c958-db4a-4a36-97d5-5a7e67d7aa81",
      "name": "📋 Get Microsoft Task Status",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "microsoftToDoOAuth2Api": {
          "id": "sB3uZnPV7ZxNR2BQ",
          "name": "Microsoft To Do OAuth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('📝 Create Notion Task').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|status",
              "statusValue": "Erledigt"
            },
            {
              "key": "Ende|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "textType": "mention",
                    "mentionType": "date",
                    "date": "={{ DateTime.now().toISO() }}",
                    "annotationUi": {}
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        304,
        0
      ],
      "id": "e2940e72-f075-4f1a-b411-15eef681a9f2",
      "name": "✅ Mark Notion Task as Completed",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "notionApi": {
          "id": "fr2e2KycGHqXc0xM",
          "name": "Carsten Notion"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "taskListId": "AQMkADAwATNiZmYAZC1kMDdlLWJlNTUALTAwAi0wMAoALgAAA0NBTV_kcORJmRRxtbvDOJcBAMBDwfn7zzlMnT3h4rQWfqcAB1SpwJ0AAAA=",
        "taskId": "={{ $('📋 Create Microsoft ToDo Task').item.json.id }}",
        "updateFields": {
          "status": "completed"
        }
      },
      "type": "n8n-nodes-base.microsoftToDo",
      "typeVersion": 1,
      "position": [
        304,
        -192
      ],
      "id": "e92943eb-6bc2-4beb-a43e-d6a4125d174e",
      "name": "✅ Mark Microsoft Task as Completed",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "microsoftToDoOAuth2Api": {
          "id": "sB3uZnPV7ZxNR2BQ",
          "name": "Microsoft To Do OAuth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($('📖 Get Notion Task Status').item.json.property_status.includes(\"Erledigt\")? true : false) && ($('📋 Get Microsoft Task Status').item.json.status.includes(\"notStarted\")? true : false) }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "aa563fee-91f8-4b47-8292-61d3cad91ee8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Notion has been completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d0b7583e-ba93-4033-baf2-7b9ff7cbbd2d",
                    "leftValue": "={{($('📖 Get Notion Task Status').item.json.property_status.includes(\"Nicht begonnen\")? true : false) && ($('📋 Get Microsoft Task Status').item.json.status.includes(\"completed\")? true : false) }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ToDo has been completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "45f769ce-ac3a-4089-9257-6618e7c87235",
                    "leftValue": "={{  $('📋 Get Microsoft Task Status').item.json.error.includes(\"The resource you are requesting could not be found\") ? true : false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ToDo Task has been deleted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4e4058b2-c337-4f59-ba6a-0dbdb71532ac",
                    "leftValue": "={{ ($('📖 Get Notion Task Status').item.json.property_status.includes(\"Nicht begonnen\")? true : false) && ($('📋 Get Microsoft Task Status').item.json.status.includes(\"notStarted\")? true : false) }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Both Tasks are open"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        80,
        -32
      ],
      "id": "cf0c7922-1bed-45dd-aeed-e09c1297d67c",
      "name": "🔀 Task Status Synchronization Logic",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ DateTime.now().plus(7, 'days').format(\"yyyy-MM-dd'T'HH:mm:ss\") }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1040,
        0
      ],
      "id": "f7489246-9faa-4e3c-87b9-e6039cd48145",
      "name": "⏳ Wait 7 Days Before Creating Tasks",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "webhookId": "5f506653-2e0d-4bb8-a156-405c5e11d198",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $('📝 Create Notion Task').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -368,
        -80
      ],
      "id": "fd740447-174d-418e-bb1d-3bd003542758",
      "name": "📖 Get Notion Task Status",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "notionApi": {
          "id": "fr2e2KycGHqXc0xM",
          "name": "Carsten Notion"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "16f9584c-b1d7-8066-81f8-e5d739550770",
          "mode": "list",
          "cachedResultName": "Mein Routinen Kalender",
          "cachedResultUrl": "https://www.notion.so/16f9584cb1d7806681f8e5d739550770"
        },
        "title": "={{ $('Start').item.json.Name }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Datum|date",
              "range": true,
              "dateStart": "={{ $('Start').item.json.timestamp.toDateTime().plus($('Start').item.json.Uhrzeit, 'hours') }}",
              "dateEnd": "={{ $('Start').item.json.timestamp.toDateTime().plus($('Start').item.json.Uhrzeit, 'hours').plus($('Start').item.json.Länge, 'minutes') }}"
            },
            {
              "key": "Kategorie|select",
              "selectValue": "=Putzen"
            }
          ]
        },
        "options": {
          "icon": "={{ $('Start').item.json.Emoji }}"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1264,
        0
      ],
      "id": "851546e3-f830-47d2-ad59-b372a3585374",
      "name": "📝 Create Notion Task",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "notionApi": {
          "id": "fr2e2KycGHqXc0xM",
          "name": "Carsten Notion"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "taskListId": "AQMkADAwATNiZmYAZC1kMDdlLWJlNTUALTAwAi0wMAoALgAAA0NBTV_kcORJmRRxtbvDOJcBAMBDwfn7zzlMnT3h4rQWfqcAB1SpwJ0AAAA=",
        "title": "={{ $('Start').item.json.Emoji + \" \" + $('Start').item.json.Name }}",
        "additionalFields": {
          "dueDateTime": "={{ $('Start').item.json.timestamp.toDateTime().plus($('Start').item.json.Uhrzeit, 'hours').toISO() }}",
          "reminderDateTime": "={{ $('Start').item.json.timestamp.toDateTime().plus($('Start').item.json.Uhrzeit, 'hours').plus($('Start').item.json.Länge, 'minutes').toISO() }}"
        }
      },
      "type": "n8n-nodes-base.microsoftToDo",
      "typeVersion": 1,
      "position": [
        -816,
        0
      ],
      "id": "4869c953-f98c-4bec-ab9f-33295323b226",
      "name": "📋 Create Microsoft ToDo Task",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "microsoftToDoOAuth2Api": {
          "id": "sB3uZnPV7ZxNR2BQ",
          "name": "Microsoft To Do OAuth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('📝 Create Notion Task').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|status",
              "statusValue": "={{ $('Start').item.json['Aktion beim Löschen'] }}"
            },
            {
              "key": "Ende|rich_text",
              "richText": true,
              "text": {
                "text": [
                  {
                    "textType": "mention",
                    "mentionType": "date",
                    "date": "={{ DateTime.now().toISO() }}",
                    "annotationUi": {}
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        304,
        192
      ],
      "id": "5a3fbd45-3833-49fa-87fe-1f7eaf965beb",
      "name": "❌ Mark Notion Task as NOT Completed",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "notionApi": {
          "id": "fr2e2KycGHqXc0xM",
          "name": "Carsten Notion"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1488,
        0
      ],
      "id": "536f8bf6-9c81-4d39-a319-22648954711a",
      "name": "Start"
    }
  ],
  "connections": {
    "⏱️ Wait for Task Completion Check": {
      "main": [
        [
          {
            "node": "📖 Get Notion Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Get Microsoft Task Status": {
      "main": [
        [
          {
            "node": "🔀 Task Status Synchronization Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Task Status Synchronization Logic": {
      "main": [
        [
          {
            "node": "✅ Mark Microsoft Task as Completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "✅ Mark Notion Task as Completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Mark Notion Task as NOT Completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏱️ Wait for Task Completion Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Wait 7 Days Before Creating Tasks": {
      "main": [
        [
          {
            "node": "📋 Create Microsoft ToDo Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📖 Get Notion Task Status": {
      "main": [
        [
          {
            "node": "📋 Get Microsoft Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Create Notion Task": {
      "main": [
        [
          {
            "node": "⏳ Wait 7 Days Before Creating Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Create Microsoft ToDo Task": {
      "main": [
        [
          {
            "node": "⏱️ Wait for Task Completion Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "📝 Create Notion Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "476ae8e51b27fe606290128bd23eca42905d58a3958a72a03750be836d971df8"
  }
}